<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WORKORDER_DASHBOARD.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <WORKORDER_DASHBOARD.My.MySettings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBName" serializeAs="String">
                <value />
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="DBPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayIp" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayPort" serializeAs="String">
                <value />
            </setting>
            <setting name="GatewayPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpServer" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPort" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpPass" serializeAs="String">
                <value />
            </setting>
            <setting name="smtpEmail" serializeAs="String">
                <value />
            </setting>
            <setting name="SmsInterval_sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmsInterval_milli" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="smtpName" serializeAs="String">
                <value />
            </setting>
            <setting name="SmsInterval_Hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SmsInterval_Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GatewayInterval_Hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GatewayInterval_Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GatewayInterval_Sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="GatewayInterval_Milli" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailInterval_Hour" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailInterval_Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailInterval_Sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="EmailInterval_Milli" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WomsInterval_Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WomsInterval_Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WomsInterval_Sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="WomsInterval_Mlli" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotifyToClose_Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotifyToClose_Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotifyToClose_Sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="NotifyToClose_Milli" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="InsertNotifyToClose_Hours" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="insertNotifyToClose_Mins" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="insertNotifyToClose_Sec" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="insertNotifyToClose_Milli" serializeAs="String">
                <value>0</value>
            </setting>
        </WORKORDER_DASHBOARD.My.MySettings>
    </userSettings>
</configuration>